.hide {
    display: none;
}:root {
    --page-color: #FFFFFF;
    --hero-color: #2E2F42;
    --logo-color: #4D5AE5;
    --color: #434455;
    --logo-background: #F4F4FD;
}

.main-page {}

.body {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

img {
    display: block;
}

p {
    padding: 0;
}

/* Resets */
h1,
h2,
h3,
h4,
h5,
p
{
    margin: 0;
}

.list,
ul,
ol {
    list-style: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link,
a {
    text-decoration: none;
    color: currentColor;
}

.btn,
button {
    font-family: inherit;
    cursor: pointer;
}

/*Base styles*/

.header {
    border-bottom: 1px solid #e7e9fc;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

}

.container {
    
    padding: 0 15px;
    margin: 0 auto;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid red;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

.header-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 76px;
   padding-top: 17px;
   padding-bottom: 17px;
   padding-left: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
   


}
@media only screen and (min-width: 768px) {
    .header-logo  {
        padding-top: 25px;
        padding-bottom: 25px;
        margin-left: 16px;
        
        
  }
}
@media only screen and (min-width: 1158px) {
    .header-logo  {
        margin-left: 76px;
       
  }
}

.header-logo-stydio {
    color: #2E2F42;
}

.header-list {
   display: flex;
    gap: 40px;
    list-style: none;
   
    
}
@media only screen and (max-width: 767.98px) {
    .header-list {
    display: none; 
  }
}
.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    color: #404bbf;
}
@media only screen and (min-width: 768px) {
    .header-item {
   /* margin-left: 76px;
    margin-right: 40px;*/
 
  }
}
.header-item-stydio {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative; 
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item-stydio:hover {
    text-decoration: none;
    color: #404bbf;
}
.header-item-stydio:focus {
    color: #404bbf;
}
.header-item-stydio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; 
    height: 4px;
    background-color: #404bbf; 
    border-radius: 2px;
}
.header-item-st {
    color: #2E2F42;
}
.address
 {
    margin-left: auto;
    font-style: normal;
}

@media only screen and (min-width: 768px) {
    .address {
   display: flex;
 
   margin-left: 573px;
   
  }
}


.address-list {
    
   
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
@media only screen and (max-width: 767.98px) {
    .address-list {
    display: none; 
   

  }
}
@media only screen and (min-width: 1658px) {
    .address-list {
    display: flex;
    gap: 40px;
  }
}


.address-item {
   
/*font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1,2; 
letter-spacing: 0.04em;*/

color: #404bbf;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.address-link {
   
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover {
    color: #404bbf;
}

.address-link:focus {
    color: #404bbf;
}

.address-link ::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}



/*Mobile*/
.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
@media only screen and (min-width: 768px) {
    .menu-btn  {
    display: none;
  }
}

/*Main block*/
.main {
}

/*Hero image*/
.section-hero {
    max-width: 320px;
    margin: 0 auto;
     padding-bottom: 96px;
     
    background-color: #2e2f42;
    flex-shrink: 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}

@media only screen and (min-width: 768px) {
    .section-hero {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1658px) {
    .section-hero {
    padding-bottom: 120px;
    max-width: 1440px;
    flex-shrink: 0;
    gap: 72px;
  }
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid red;
  }
  
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

.hero-conteiner {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    max-width: 496px;
    padding-top: 72px;   
    margin: 0 auto;
    margin-bottom: 72px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: 0.02em;

    text-align: center;
    color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
    .hero-title {
    font-size: 56px;
    line-height: 1.07;
margin-bottom: 36px;
}
    
}
@media only screen and (min-width: 1658px) {
  .hero-title {
    margin-bottom: 48px;
   
    
  }
}


.hero-btn {
    /*font-family: "Roboto" sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
   
    padding: 16px 32px;
    padding-left: 75px;
    
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;*/
    display: inline-flex;
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
    border-radius: 4px;
    margin: 0 auto;
    margin-left: 75px;
    text-align: center;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #ffffff;
    background-color: #4D5AE5;
}
@media only screen and (min-width: 768px) {
  .hero-btn {
    margin-left: 300px;
  }
}
@media only screen and (min-width: 1658px) {
 .hero-btn  {
   margin-left: 635px;
  }
}


.hero-btn:hover {
    background-color: #404BBF;
}

.hero-btn:focus {
    background-color: #404BBF;
}


/*Section 1*/
.section {
    padding: 120px 0;
    background-color: #FFFFFF;
}

.container {
   
}

.visually-hidden {
    padding-top: 48px;
    padding-bottom: 48px;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    
}
@media only screen and (min-width: 1658px) {
    .visually-hidden {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}



.section-list {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
@media only screen and (min-width: 768px) {
    .section-list {
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
  }
}


.section-item-hero {
 max-width: 288px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
    .section-item-hero {
       width: calc((100% - 24px * 1) / 2);
       
       flex-direction: column;
       align-items: flex-start;
       max-width: 356px;

  }
}
@media only screen and (min-width: 1658px) {
    .section-item-hero {
        width: calc((100% - 24px * 3) / 4);
        max-width: 264px;
  }
}
.icon {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
@media only screen and (max-width: 1657.98px) {
    .icon {
    display: none;
    
  }
}
.section-title {
    max-width: 288px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.2; 
letter-spacing: 0.02em;
text-transform: capitalize;
align-self: stretch;
color: #2E2F42;
}
@media only screen and (min-width: 768px) {
  .section-title {
    display: flex;
    max-width: 264px;
  }
}
.section-pr {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/*Our Team section*/
.section-team {
    padding: 120px 0;
    background-color: #F4F4FD;

}
.container-team {
    width: 1158px;
    margin: 0 auto;
    
    padding: 32px 0;
}

.section-team-our-title {
   /* margin-bottom: 72px;*/
   padding-top: 48px;
   padding-bottom: 48px;
   
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; 
text-align: center;
letter-spacing: 0.02px;
text-transform: capitalize;
color: #2E2F42;
}
@media only screen and (min-width: 1658px) {
    .section-team-our-title {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.section-team-list {
    
    display: inline-flex;
flex-direction: column;
align-items: center;
gap: 72px;
margin-left: 28px;
flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
    .section-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 64px 24px;
  }
}
@media only screen and (min-width: 1658px) {
    .section-team-list {
    padding-right: 28px;
  }
}
.section-team-item {
    display: inline-flex;
padding-bottom: 32px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
max-width: 264px;
       border-radius: 0px 0px 4px 4px;
       background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
}
@media only screen and (min-width: 768px) {
    .section-team-item  {
    
        width: calc((100% - 24px * 1) / 2);
  }
}
@media only screen and (min-width: 1658px) {
    .section-team-item {
        width: calc((100% - 24px * 3) / 4);
  }
}


.section-team-img {
    display: block;
}
.name {
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
        padding: 32px 0;
   
}
.section-team-title {
    text-align: center;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-team-pr {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



.list-insta {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.list-insta-instagram {
    width: 40px;
    height: 40px;
}

.instagram {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.instagram:hover {
    background-color: #404bbf;
}

.instagram:focus {
    background-color: #404bbf;
}
.inst-svg {
    width: 40px;
height: 40px;
flex-shrink: 0;
    fill: #f4f4fd;
}

/*Portfolio*/
.section-team-p {
    padding: 120px 0;  
    border: 1px solid rgba(231, 233, 252, 1); 
}
.container-port {
    flex-shrink: 0;
    margin: 0 auto;
    padding: 32px 0;
}
.section-team-our-title {  
   
        padding-top: 48px;
        padding-bottom: 48px;
        
     font-family: Roboto;
     font-size: 36px;
     font-style: normal;
     font-weight: 700;
     line-height: 1.11; 
     text-align: center;
     letter-spacing: 0.02px;
     text-transform: capitalize;
     color: #2E2F42;
     }


.section-list-portfolio {
    /*width: 1128px;
height: 420px;
flex-shrink: 0;*/
max-width: 288px;
display: flex;
flex-wrap: wrap;
    

}

.section-item {
    display: flex;
padding-bottom: 32px;
flex-direction: column;
align-items: flex-start;
gap: 32px;
flex-shrink: 0;
border: 1px solid  #E7E9FC;
background:  #FFFFFF;
flex-wrap: wrap;
/**/
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
    .section-item {
        width: calc((100% - 24px * 1) / 2);
        min-width: 768px;
  }
}
@media only screen and (min-width: 1658px) {
    .section-item {
        width: calc((100% - 48px) / 3);
    max-width: 1128px;
    column-gap: 24px;
    row-gap: 48px;
   
  }
}
.section-item:hover {
   
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}
.section-item:hover .portfolio-p {
    transform: translateY(0%);
}



    .portfolio-img {
        position: relative;
        overflow: hidden;
       }
   .portfolio-p {
    position: absolute;
         top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
         padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
     
.names {
    display: flex;
padding: 0px 16px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
align-self: stretch;
    
   
}

.section-title {
    margin-bottom: 8px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-pr {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.section-pr:hover {
    transform: translateY(0%);
}



/*Footer*/
.footer {
    padding: 100px 0;
    background: #2E2F42;
    align-items: baseline;
    margin-right: 120px;
    width: 1440px;
 height: 312px;
 top: 2288px;
}
.footer-c {
    display: flex; 
    align-items: baseline;
    width: 1158px;
    padding: 0 15px;
   margin: 0 auto;
}


.cont-footer {
    width: 264px;
height: 112px;
flex-shrink: 0;
top: 3088px;
left: 156px;
margin-right: 120px;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;

}

.footer-link-stydio {
 
    color: #F4F4FD;
    display: inline-block;
  
  
}

.footer-pr {
   width: 264px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD; 
}

.f-media {
    width: 453px;
    height: 80px;
   

}

.s-media {

font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    
}

.list-s {
    display: flex;
    gap: 16px;
}

.list-s-media {
    width: 40px;
    height: 40px; 

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media:hover {
    background-color: #31d0aa;
}

.footer-media:focus {
    background-color: #31d0aa;
}
.footer-svg {
    width: 40px;
height: 40px;
flex-shrink: 0;
    fill: #F4F4FD
}
/*Form*/
.container-form-f {
    width: 453px;
    height: 80px;
    top: 100px;
    left: 828px;
    border-radius: 4px;
    border: 1px;
    
}
.form-p {
    margin-bottom: 16px; 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.form-action {
    display: flex; 
    gap: 24px;
}
.label-fo {

}
.input-fo {
    width: 264px; 
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px; 
    line-height: 2; 
    letter-spacing: 0.04em; 
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    color: #ffffff;
}
.input-fo::placeholder {
    color: #ffffff;
}
.button-form {
    min-width: 165px;
    height: 40px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px; 
}
.form-svg {
    margin-left: 16px; 
}
/*Mobile menu*/
.mobile-menu {
   display: flex;
   flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 72px 16px 40px;
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform 250ms ease, visibility 250ms ease;
    background-color: #ffffff;
}
.mobile-menu.is-open {
    transform: translateX(0);
    visibility: visible;
}
.mobile-menu .menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E7E9FC;
    border-radius: 50%;
}
.mobile-menu-list {
    margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
margin-bottom: 40px;
}
.mobile-menu-link {
   
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; 
letter-spacing: 0.72px;
text-transform: capitalize;

}

.mobile-menu-link.current {
    color: var(--OCEAN, #404BBF);
}
.mobile-menu-contax {
    margin-bottom: 48px;
}
.mobile-menu-contax .mobile-menu-item:not(:last-child) {
    margin-bottom: 24px;
}
.mobile-menu-contax {
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
letter-spacing: 0.05em;
color: var(--SLATE, #434455);
}
.mobile-menu-contax .accent {
    color: var(--OCEAN, #404BBF);
}
.mobile-menu-list-s {
    gap: 40px;
}
.mobile-menu-list-s .footer-media {
    border-radius: 50%;
}
/*Form*/
/*.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px; 
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px; 
}
.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: #e7e9fc; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.modal-button:hover {
    background-color: #404bbf;
    border: none; 
    fill: #ffffff;
}
.modal-button:focus {
    background-color: #404bbf;
    border: none; 
    fill: #ffffff;
}
.form-svg-vek {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-p {
    font-weight: 500; 
    font-size: 16px; 
    line-height: 1.5; 
    text-align: center;
    letter-spacing: 0.02em; 
    color:  #2E2F42;
    margin-bottom: 16px;
}
.modal-form {
    margin-bottom: 8px; 
}
.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99; 
    display: block;
    margin-bottom: 4px; 
}
.modal-input {
    position: relative;
}
.input-class {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-class:focus {
    border-color: #4D5AE5;
}
.form-svg-a {
    position: absolute;
    left: 16px;
    top: 50%; 
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 

}
.input-class:focus + .form-svg-a {
    fill: #4D5AE5;
}

.comment {
    margin-bottom: 16px;
}
.tex-comment {
    width: 100%; 
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: rgba(46, 47, 66, 0.4); 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent; 
    padding: 8px 16px; 
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tex-comment:focus {
    border-color: #4D5AE5; 
}
.boks {
    margin-bottom: 24px; 
}
.visually-hidden.checkbox {

}
.boks-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: #8e8f99;
}
.boks-span {
    width: 16px; 
    height: 16px; 
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    fill: transparent;
    
}

.checkbox:checked + .boks-label > .boks-span {
    background-color: #404bbf; 
    border: none;
    fill: #F4F4FD;
}
.boks-a {
 color:  #4d5ae5;
text-decoration-line: underline;
}

.boks-button {
  display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/